.__footer{
  color: black;
  width: 100%;
  background-color: #ffff;
  height: 150px;

  .__footer_content{

    height: 150px;
    display: flex;
    align-items: center;

    .__logos{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .__logoWeb{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        span{
          font-size: 17px;
          font-weight: 300;
        }
        span:nth-child(3n){
          opacity: 0.5;
          font-size: 12px !important;
        }
      }
      .names{
        span{
          font-weight: 200;
        }
        gap: 5px;
        align-items: center;
        display: flex;
        flex-direction: column;
      }
      .__logoSCE{
        img{
          height: 60px;
        }
      }
  }


  }
}