.__home{
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 20px;
  .__titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    h1, h3{
      margin: 0;
      text-align: center;
    }
    h1{
      font-size: 10rem;
    }
    h3{
      font-size: 2rem;
      font-weight: 200;
    }
    
    
  }
  .__btns{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    button{
      width: 100px;
      cursor: pointer;
      font-size: 20px;
      font-weight: 800;
      padding: 20px;
      border-radius: 20px;
      color: white;
      border: none;
      background-color: #0057E8;
    }
    button:hover{
      background-color: #023895;
    }
  }
}